<h1>
  Upload Image
  <div class="pull-right">
    <%= link_to images_path, :class => 'btn btn-primary' do %>
      <span class="glyphicon glyphicon-arrow-left"></span>
      Back to List
    <% end %>
  </div>
</h1>

<%= render 'form' %>
